@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#title {
    background-color: black;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    margin-top: -1px;
    padding: 40px;
    -webkit-text-fill-color: goldenrod;
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 1.50px;
    
}