.title {
    text-align: center;
}

.optimusPrimeSticker {
    max-width: 15%;
    margin-left: 5px;
}

.whiteTransformerSticker {
    max-width: 15%;
    margin-left: 5px;
}

.bulldozerSticker {
    max-width: 15%;
    margin-left: 5px;
}

.hotWheelsSticker {
    max-width: 24%;
    margin-left: 5px;
}

body {
    margin: 10px;
}
